/* This css file for 'home.html' */



/* Home Page Main Content Css */

.typed-cursor{
    color: white !important;
}

#home-main-content h1{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
}

#home-main-content p{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.hmc-txt span{
    color: #9333EA;
}

#home-main-content h2{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
}

#hmc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-main-content{
    margin: 70px 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hmcb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hmc-button{
    color: black;
    display: inline;
    text-decoration: none;
    background-color: #D1D5DB;
    margin-top: 20px;
    padding: 8px 10px;
    border-radius: 3px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}

@media (max-width: 1024px){
    #home-main-content{
        width: 650px;
    }
}

@media (max-width: 768px){
    #home-main-content{
        width: 90%;
    }
}

@media (max-width: 580px){
    #home-main-content h1 span{
        display: block;
    }
}

/* Home Page Blog Section Style */

#home-blog-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hbs{
    width: 100%;
}

#hbs div:first-of-type{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#hbs h1:first-of-type{
    color: #9333EA;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 30px;
}

#hbs div .blog-post{
    width: 25.01%;
    height: 330px;
    background-color: rgb(30, 39, 61);
    border-radius: 20px;
    margin-bottom: 40px;
}


.blog-post{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Poppins", serif;
    font-style: normal;
    cursor: pointer;
    padding: 8px 0px;
    justify-content: space-evenly;
}

.blog-post img{
    width: 90%;
    align-self: center;
    border-radius: 5px;
}

.blog-post h2{
    font-weight: 500;
    margin: 0px 10px;
}

.blog-post p{
    margin: 0px 10px;
}

#no-blogs{
    color: white;
    margin-bottom: 20px;
    font-size: large;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1024px){

    #hbs div:first-of-type{
        flex-wrap: wrap;
        row-gap: 40px;
        justify-content: space-evenly;
    }

    #hbs div .blog-post{
        width: 35%;
        gap: 0;
        flex-wrap: nowrap;
        margin-bottom: 0;
        padding: 5px 0px;
    }
    
    #blog-5, #blog-6{
        display: none;
    }
}

@media (max-width: 768px){
    #hbs div .blog-post{
        width: 45%;
    }
}

@media (max-width: 600px){
    #hbs #blog-container{
        flex-direction: column;
        margin-bottom: 40px;
    }


    #hbs div .blog-post{
        width: 70%;
    }

    #blog-4, #blog-5, #blog-6{
        display: none;
    }
}


@media (max-width: 400px){
    #hbs div:first-of-type{
        flex-direction: column;
    }

    #hbs div .blog-post{
        width: 83%;
    }
}

@media (max-width:340px){
    #hbs div .blog-post{
        padding: 5px 0;
    }
}

