/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: #111827;
}

/* Header Css */

header{
    background-color: #1F2937;
    height: 70px;
    border-bottom: 2px solid rgb(116, 105, 85);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar #logo h1{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0px 30px;
    text-align: center;
}

#navbar ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

#navbar ul li{
    list-style-type: none;
}

#navbar ul li a, #menu-icon svg{
    text-decoration: none;
    color: white;
}

#menu-icon{
    display: none;
}

@media (max-width:600px){
    #navbar ul{
        gap: 0;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #1F2937;
        overflow: hidden;
        border-bottom: 2px solid rgb(116, 105, 85);
    }
    #navbar ul li{
        padding: 20px;
    }
    #menu-icon{
        display: block;
    }
    #menu-list{
        transition: all 0.5s;
    }
}

/* Home Page Main Content Css */

.typed-cursor{
    color: white !important;
}

#home-main-content h1{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
}

#home-main-content p{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.hmc-txt span{
    color: #9333EA;
}

#home-main-content h2{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
}

#hmc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-main-content{
    margin: 70px 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hmcb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hmc-button{
    color: black;
    display: inline;
    text-decoration: none;
    background-color: #D1D5DB;
    margin-top: 20px;
    padding: 8px 10px;
    border-radius: 3px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

@media (max-width: 1024px){
    #home-main-content{
        width: 650px;
    }
}

@media (max-width: 768px){
    #home-main-content{
        width: 90%;
    }
}

@media (max-width: 580px){
    #home-main-content h1 span{
        display: block;
    }
}

/* Home Page Blog Section Style */

#home-blog-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
}

#hbs{
    width: 100%;
}

#hbs div:first-of-type{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(227, 29, 29);
}

#hbs h1:first-of-type{
    color: #9333EA;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

#hbs div .blog-post{
    width: 25%;
    height: 300px;
    border: 2px solid chartreuse;
}

#hbs div .blog-post:last-of-type{
    display: none;
}

@media (max-width: 1024px){

    #hbs div:first-of-type{
        flex-wrap: wrap;
    }

    #hbs div .blog-post{
        width: 35%;
    }
    
    #hbs div .blog-post:last-of-type{
        display: block;
    }
}

@media (max-width: 768px){
    #hbs div .blog-post{
        width: 45%;
    }
}

@media (max-width: 600px){
    #hbs div:first-of-type{
        flex-direction: column;
    }

    #hbs div .blog-post{
        width: 70%;
    }

    #hbs div .blog-post:last-of-type{
        display: none;
    }    
}


@media (max-width: 400px){
    #hbs div:first-of-type{
        flex-direction: column;
    }

    #hbs div .blog-post{
        width: 83%;
    }
}
