{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/blog&blogs-page.css' %}" />
  </head>
  <body>
    <!-- Header -->

    <header>
      <nav id="navbar">
        <div id="logo">
          <h1>CYBER IMRAN</h1>
        </div>
        <ul id="menu-list">
          <li><a href="http://127.0.0.1:8000/">Home</a></li>
          <li><a href="http://127.0.0.1:8000/blogs/">Blog</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Register</a></li>
          <li><a href="">Login</a></li>
          <li onclick="searchMenu()"><a>Search</a></li>
        </ul>
        <div id="menu-icon" onclick="toggleMenu()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </div>
      </nav>
    </header>

    <!-- Search Form -->
    <div id="search-container">
      <div id="search-form">
        <svg
          onclick="searchMenu()"
          id="search-close-btn"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-x"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
          />
        </svg>
        <form action="http://127.0.0.1:8000/blogs/" method="get">
          <input type="text" name="q" placeholder="Search..." />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>

    {% block content %}{% endblock %}

    <!-- Footer -->

    <footer>
      <div>
        <p>Copyright &copy; 2024 CYBERIMRAN.COM. All rights reversed.</p>
      </div>
    </footer>

    <!-- Java Script -->

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/typed.umd.js' %}"></script>
    <script>
      var typed = new Typed("#element", {
        strings: ["Python", "Java", "Django", "DSA", "AI", "Python"],
        backDelay: 1400,
        backSpeed: 50,
        typeSpeed: 50,
      });
    </script>
  </body>
</html>
