{% extends 'base.html' %} {% block content %}

<div id="contact-page">
    <div id="container">
        <div id="contact-content">
            <h1>Get in Touch</h1>
            <p>Thank you for visiting! If you’d like to connect, collaborate, or have any queries, feel free to reach out through the platforms below.</p>
            <ul>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/cyberimran/">Click here</a></li>
                <li>GitHub: <a href="https://github.com/cyberimran/">Click here</a></li>
            </ul>
            <p>Looking forward to hearing from you!</p>
        </div>
    </div>
</div>

{% endblock %}