{% extends 'base.html' %} {% block content %}

<!-- Home Page Main Content -->
<div id="hmc">
  <div id="home-main-content">
    <h1 class="hmc-txt">Welcome to <span>CYBER IMRAN</span></h1>
    <h2 class="hmc-txt">Learn : <span id="element"></span></h2>
    <p class="hmc-txt">
      This platform is a testament to my unwavering dedication to learning,
      growing, and sharing knowledge with the community. It has been crafted
      with care using modern web development tools and techniques, showcasing my
      commitment to staying updated with the latest trends and technologies.
    </p>
    <div id="hmcb">
    <a href="" class="hmc-button">Free Courses</a>
    <a href="" class="hmc-button">Explore Blog</a>
    </div>
  </div>
</div>

<!-- Blog Section -->

<div id="home-blog-section">
  <div id="hbs">
    <h1>Our Latest Blogs</h1>
    <div id="blog-container">
      {% for blog in blogs %}
          <div class="blog-post" onclick="goToBlog('http://127.0.0.1:8000/{{blog.slug}}/')">
            <img src="media/{{blog.image}}" alt="">
            <h2>{{blog.title}}</h2>
            <p>{{blog.description}}</p>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const container = document.getElementById("blog-container");
  const children = container.children;
  for (let i = 0; i < children.length; i++) {
  children[i].id = `blog-${i + 1}`;
  }
  function goToBlog(url) {
      window.location.href = url;
  }
</script>
{% endblock %}  