{% extends 'base.html' %} {% block content %}

<!-- Home Page Main Content -->
<div id="hmc">
  <div id="home-main-content">
    <h1 class="hmc-txt">Welcome to <span>CYBER IMRAN</span></h1>
    <h2 class="hmc-txt">Learn : <span id="element"></span></h2>
    <p class="hmc-txt">
      This platform is a testament to my unwavering dedication to learning,
      growing, and sharing knowledge with the community. It has been crafted
      with care using modern web development tools and techniques, showcasing my
      commitment to staying updated with the latest trends and technologies.
    </p>
  </div>
</div>

{% endblock %}