{% extends 'base.html' %} {% block content %}

<div id="register-page">
    <div id="register-section">
        <div id="register-content">
            <h2>Register now</h2>
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <ul class="messages"><li>{{message}}</li></ul>
                {% endfor %}
                {% endif %}
                <input type="text" name="name" class="input" id="name" placeholder="Enter your name" autocomplete="off" spellcheck="false">
                <input type="email" name="email" class="input" id="email" placeholder="Enter your email" autocomplete="off" spellcheck="false">
                <input type="password" name="password" class="input" id="password" placeholder="Enter a new password" autocomplete="off" spellcheck="false">
                <input type="password" name="confirmpassword" class="input" id="password" placeholder="Confirm password" autocomplete="off" spellcheck="false">
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}